global:
  clusterRouterBase: apps.${CLUSTER_BASE_DOMAIN}

upstream:

  service:
    ports:
      backend: 4180
      targetPort: oauth-proxy

  postgresql:
    auth:
      existingSecret: redhat-developer-hub-postgresql     

  backstage:
    # image:
    #   tag: "1.0"

    extraEnvVars:
    - name: LOG_LEVEL
      value: debug 
    - name: KEYCLOAK_CLIENT_SECRET
      valueFrom:
        secretKeyRef:
          name: keycloak-client-secret-backstage
          key: CLIENT_SECRET
    - name: POSTGRESQL_ADMIN_PASSWORD
      valueFrom:
        secretKeyRef:
          key: postgres-password
          name: redhat-developer-hub-postgresql
    - name: GITHUB_TOKEN
      valueFrom:
        secretKeyRef:
          name: github-pat
          key: github-pat                                

    extraContainers:
      - name: oauth2-proxy
        env:
          - name: OAUTH2_PROXY_CLIENT_ID
            value: 'backstage'
          - name: OAUTH2_PROXY_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: keycloak-client-secret-backstage
                key: CLIENT_SECRET 
          - name: OAUTH2_PROXY_COOKIE_SECRET
            value: 'ciaociaociaociao'
          - name: OAUTH2_PROXY_OIDC_ISSUER_URL
            value: 'https://keycloak-sso.apps.${CLUSTER_BASE_DOMAIN}/auth/realms/myorg'
          - name: OAUTH2_PROXY_SSL_INSECURE_SKIP_VERIFY
            value: 'true'
        ports:
          - name: oauth-proxy
            containerPort: 4180
            protocol: TCP
        imagePullPolicy: IfNotPresent
        image: 'quay.io/oauth2-proxy/oauth2-proxy:latest'
        args:
          - '--provider=oidc'
          - '--email-domain=*'
          - '--upstream=http://localhost:7007'
          - '--http-address=0.0.0.0:4180'
          - '--skip-provider-button'  

    appConfig:
      auth:
        environment: production
        providers:
          oauth2Proxy: {}
      enabled:
        keycloak: true
      integrations:
        github:
          - host: github.com
            token: ${GITHUB_TOKEN}        
      catalog:
        locations:
        - target: https://github.com/environment-aas/platform-iac/tree/main/.backstage-templates/namespace/template.yaml
          type: url      
        providers:
          keycloakOrg:
            default:
              baseUrl: https://keycloak-sso.apps.${CLUSTER_BASE_DOMAIN}/auth
              loginRealm: master
              realm: myorg
              clientId: 'backstage'
              clientSecret: '${KEYCLOAK_CLIENT_SECRET}'
              schedule:
                frequency: { minutes: 1 }
                timeout: { minutes: 1 }
                initialDelay: { seconds: 15 }                                