apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: vault-admin

resources:
  - namespace.yaml
  - rbac.yaml
  - default-sa-token-secret.yaml
  - kubernetes-secret-engine-config.yaml
  - kubernetes-secret-engine-mount.yaml
  - vault-secret-engine-role-binding.yaml
  - vault-secret-engine-role.yaml