---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: crossplane-system
resources: 
- ./keycloak-provider.yaml
- ./controller-config.yaml
- ./store-config.yaml
- ./vault-config.yaml
- ./aws-rds-provider.yaml
- ./kubernetes-provider.yaml
- ./tenant-rbac.yaml
   