applications:

  acm-operator:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '5'
    destination:
      namespace: open-cluster-management
    source:
      path: clusters/hub/overlays/acm-operator

  acm-configuration:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '15'
    destination:
      namespace: open-cluster-management
    source:
      path: clusters/hub/overlays/acm-configuration

  rhsso-operator:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '5'
    destination:
      namespace: sso
    source:
      path: clusters/hub/overlays/rhsso-operator

  rhsso-configuration:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '15'
    destination:
      namespace: sso
    source:
      path: clusters/hub/overlays/rhsso-configuration

  vault:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '5'
    destination:
      namespace: vault
    source:
      path: clusters/hub/overlays/vault
    extraFields: |
      ignoreDifferences:
        - group: 'apps'
          jsonPointers:
            - /spec/volumeClaimTemplates
          kind: StatefulSet

  vault-config:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '6'
    destination:
      namespace: vault-admin
    source:
      path: clusters/hub/overlays/vault-config                      

  kube-ops-view:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '15'
    destination:
      namespace: kube-ops-view
    source:
      path: clusters/hub/overlays/kube-ops-view  

  reflector-operator:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '5'
    destination:
      namespace: reflector-operator
    source:
      path: clusters/hub/overlays/reflector-operator     

  crossplane-operator:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '7'
    destination:
      namespace: crossplane-system
    source:
      path: clusters/hub/overlays/crossplane-operator
    extraFields: |
      ignoreDifferences:
        - group: 'apps'
          jsonPointers:
            - /spec/template/spec/containers/0/env/0/valueFrom/resourceFieldRef/divisor
            - /spec/template/spec/containers/0/env/1/valueFrom/resourceFieldRef/divisor
            - /spec/template/spec/initContainers/0/env/0/valueFrom/resourceFieldRef/divisor
            - /spec/template/spec/initContainers/0/env/1/valueFrom/resourceFieldRef/divisor            
          kind: Deployment            

  crossplane-providers:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '15'
    destination:
      namespace: crossplane-system
    source:
      path: clusters/hub/overlays/crossplane-providers

  crossplane-provider-config:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '25'
    destination:
      namespace: crossplane-system
    source:
      path: clusters/hub/overlays/crossplane-provider-config

  crossplane-compositions:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '25'
    destination:
      namespace: crossplane-system
    source:
      path: clusters/hub/overlays/crossplane-compositions 

  crossplane-vault:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '6'
    destination:
      namespace: vault-admin
    source:
      path: clusters/hub/overlays/crossplane-vault            

  group-sync-configuration:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '15'
    destination:
      namespace: group-sync-configuration
    source:
      path: clusters/hub/overlays/group-sync-configuration       

  tenant-gitops-instance:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '25'
    destination:
      namespace: tenant-gitops
    source:
      path: clusters/hub/overlays/tenant-gitops-instance       

  redhat-developer-hub:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '25'
    destination:
      namespace: redhat-developer-hub
    source:
      path: clusters/hub/overlays/redhat-developer-hub
    extraFields: |
      ignoreDifferences:
        - group: 'apps'
          jsonPointers:
            - /spec/volumeClaimTemplates
          kind: StatefulSet
        - group: 'route.openshift.io'
          jsonPointers:
            - /spec/host
          kind: Route                        

  prod:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '25'
    destination:
      namespace: prod
    source:
      path: clusters/hub/overlays/prod     
    extraFields: |
      ignoreDifferences:
        - group: ''
          jsonPointers:
            - /data
          kind: Secret
        - group: 'hive.openshift.io'
          jsonPointers:
            - /spec/installed
          kind: ClusterDeployment
        - group: 'redhatcop.redhat.io'
          jsonPointers:
            - /spec/kubernetesHost
          kind: KubernetesAuthEngineConfig                    

  non-prod:
    annotations:
      argocd.argoproj.io/compare-options: IgnoreExtraneous
      argocd.argoproj.io/sync-wave: '25'
    destination:
      namespace: non-prod
    source:
      path: clusters/hub/overlays/non-prod     
    extraFields: |
      ignoreDifferences:
        - group: ''
          jsonPointers:
            - /data
          kind: Secret
        - group: 'hive.openshift.io'
          jsonPointers:
            - /spec/installed
          kind: ClusterDeployment
        - group: 'redhatcop.redhat.io'
          jsonPointers:
            - /spec/kubernetesHost
          kind: KubernetesAuthEngineConfig 
                          