apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: approved-namespaces
  namespace: openshift-gitops
  labels:
    app-source: approved-namespace
    repo: cluster-config
  finalizers:
  - resources-finalizer.argocd.argoproj.io
  annotations:
    argocd.argoproj.io/sync-wave: "0"    
spec:
  project: cluster-config
  source:
    repoURL: https://github.com/environment-aas/namespaces.git
    targetRevision: HEAD
    path: "${CLUSTER_NAME}"
    directory:
      recurse: true
      include: "*.yaml"
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  syncPolicy:
    syncOptions:
    - ApplyOutOfSyncOnly=true
    - PrunePropagationPolicy=foreground
    - PruneLast=true
    - ServerSideApply=true  
    - FailOnSharedResource=true
    - RespectIgnoreDifferences=true
    - CreateNamespace=false      
    automated: 
      prune: true
      selfHeal: true
      allowEmpty: true
    retry:
      limit: -1
      backoff:
        duration: 5s # the amount to back off. Default unit is seconds, but could also be a duration (e.g. "2m", "1h")
        factor: 2 # a factor to multiply the base duration after each failed retry
        maxDuration: 10m # the maximum amount of time allowed for the backoff strategy